/* .dark {
  background-color: rgb(39, 39, 39);
  transition: all 0.5s;
}
.light {
  background-color: rgb(228, 228, 228);
  transition: all 0.5s;
}
.dark > main.Main {
  background-color: rgb(39, 39, 39);
  transition: all 0.5s;
}
.light > main.Main {
  background-color: rgb(228, 228, 228);
  transition: all 0.5s;
}
.dark * > h2 {
  color: #868686;
  transition: color 0.5s;
}
.light * > h2 {
  color: rgb(173, 74, 157);
  transition: color 0.5s;
}

.light * > section:nth-child(2n) {
  background-color: #b1b1b1;
  transition: all 0.5s;
  h2,
  h3,
  div,
  p {
    color: #3b3b3b;
  }
  main {
    background-color: #b8813a;
  }
}
.light * > section:nth-child(2n + 1) {
  background-color: #b6c3d4;
  transition: all 0.5s;
  h2,
  h3,
  div,
  p {
    color: #3b3b3b;
  }
}

.dark * > section {
  background-color: #24272b;
  transition: all 0.5s;
  h2,
  h3,
  div,
  p {
    color: #bbb;
  }
}
.light * > .modal {
  background-color: #ebe4d2;
  transition: all 0.5s;
  h2,
  h3,
  div,
  p {
    color: #bbb;
  }
} */
