.about_me {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #bbbbbb;
  margin: 1rem;
}

.appear {
  opacity: 1;
  transform: translateY(0);
}

.my_img img {
  width: 100%;
  max-width: 10rem;
  min-width: 9.5rem;
  height: auto;
}

.content {
  width: 80%;
  padding: 0 2rem;
}

.content .h2 {
  font-size: 2rem;
  margin: 0.8rem 0;
  padding-bottom: 0.5rem;
}

.content .h3 {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  color: #e65aa0;
}

.content p {
  padding: 6px 0;
  font-size: 1rem;
  line-height: 1.5;
}
.table {
  color: #bbbbbb;
  padding: 0.5rem;
}
.table th {
  padding: 0.8rem 0.5rem;
  display: flex;
  justify-content: start;
  align-items: start;
}
.table td {
  padding: 0.8rem 0.5rem;
}
.category {
  font-weight: lighter;
  font-size: 1.3rem;
  padding: 0.8rem;
  border-bottom: 2px solid #494949;
  color: #86769b;
}

.more {
  margin-left: 1rem;
  margin-bottom: 1rem;
  color: #3b205e;
  font-weight: bold;
  font-size: 0.8rem;
  text-decoration: none;
  background-color: #8773a1;
  padding: 0.3rem 1rem;
  border-radius: 1rem;
  border: 1px solid #57535c;
  box-shadow: 0 0 7px #00000062;
  text-align: center;
}
.more:active {
  box-shadow: 0 0 5px #414141;
}
@media (max-width: 768px) {
  .content .h2 {
    font-size: 1.25rem;
    /* margin: 0.8rem 0; */
    padding-bottom: 0;
  }
  .about_me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .my_img {
      margin: auto;
    }
    .content {
      width: 100%;
      padding: 0 2rem;
    }
    .my_img img {
      width: 100%;
      max-width: 10rem;
      min-width: 2rem;
    }
  }
  .table td {
    display: flex;
    justify-content: start;
    align-items: start;
    padding-top: 0rem;
    padding-bottom: 1rem;
  }
}
