/* LogoSlide.module.css */

.LogoSlide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow_icon_warpper {
}
.logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo_wrapper {
  text-align: center;
  margin: 1rem;
}
.logo {
  max-width: 5rem;
  margin: 1rem;
}

.logo_name {
  font-size: 0.9rem;
  letter-spacing: 1px;
  color: #7e7e7e;
}
.logo_name_box {
  background-color: #ebebeb;
  padding: 0.5rem 1.5rem;
  border-radius: 3rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.137);
}
