@import url("https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gaegu&display=swap");
.detail_container h4 {
  padding-bottom: 1rem;
  padding-top: 2rem;
  color: rgb(202, 105, 105);
  text-align: center;
  border-bottom: 4px solid rgb(85, 60, 60);
}
.summary {
  margin: 1rem;
  line-height: 1.7;
  padding-bottom: 1rem;
}
.img_box {
  width: 100%;
  text-align: center;
}
.screen {
  width: 100%;
  max-width: 700px;
}
.button_box {
  margin-top: 1.4rem;
  width: 100%;
  text-align: center;
}
.more {
  /* font-family: "East Sea Dokdo", sans-serif; */
  font-family: "Gaegu", sans-serif;
  font-weight: bold;
  margin-bottom: 1rem;
  padding: 0.7rem 4.5rem 0.7rem 2rem;
  border-bottom-right-radius: 2rem 0.3rem;
  /* border-top-right-radius: 2rem 0.5rem; */
  box-shadow: 10px 2px 5px #0000004b;
  background-image: linear-gradient(to left, #c41414 25%, #f0e7b8 40%);
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
.more:hover {
  border-bottom-right-radius: 2.5rem 1rem;
  box-shadow: 15px 3px 5px #00000060;
  transition: border-bottom-right-radius 0.5s ease, box-shadow 0.7s;
}
@media (max-width: 768px) {
  .more {
    padding: 0.7rem 3rem 0.5rem 1.5rem;
    box-shadow: 7px 2px 5px #0000004b;
    font-size: 1.2rem;
  }
  .more:hover {
    border-bottom-right-radius: 2.5rem 0.5rem;
    box-shadow: 10px 3px 5px #00000060;
    transition: border-bottom-right-radius 0.5s ease, box-shadow 0.7s;
  }
}
