.container {
  position: absolute;
  right: 1.5rem;
  top: 5%;
}
.lab {
  display: block;
  position: relative;
  width: 160px;
  height: 44px;
  background-color: #d3d3d3;
  border-radius: 60px;
  transition: background-color 0.4s;
}
.lab::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 50%;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: #fff;
  transform: translateY(-50%);
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}
.lab::before {
  content: "Dark Mode";
  font-size: 1rem;
  position: absolute;
  left: 52px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s;
}
.input:checked + .lab {
  background: rgba(109, 104, 107);
}
.input:checked + .lab::after {
  left: calc(100% - 40px);
}
.input:checked + .lab::before {
  content: "Light Mode";
  color: #fff;
  left: 17px;
}
