.FlagFile {
}
.FlagFile .container {
  box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.4);
  position: relative;
  border-radius: 0 0 5px 5px;
}
.FlagFile .ul {
  display: flex;
  justify-content: center;
  align-items: end;
}
.FlagFile .li_box {
  cursor: pointer;
  width: 100%;
  overflow: hidden;
  border-radius: 0 10px 0 0;
  box-shadow: 10px 0px 5px -5px rgba(0, 0, 0, 0.4);
}

.FlagFile .li_box.none {
  box-shadow: none;
}
.FlagFile .li_box.selected {
  position: relative;
  z-index: 2;
}
.FlagFile .li_shape {
  width: 100%;
  height: 60px;

  background-color: #e6b738;
  padding: 15px;
  border-radius: 20px 0 0 0;
  transform: skew(-30deg) translate(18px, 0px);
}
.FlagFile .li_shape:hover {
  height: 70px;
}
.FlagFile .li_box.selected .li_shape {
  padding: 13px;
  height: 70px;
}
.FlagFile .li_box.selected .li_shape {
  /* background-color: rgb(51, 51, 51); */
  background-color: #ffd35b;
}
.FlagFile .li {
  padding-top: 0.5rem;
  padding-right: 2rem;
  padding-left: 0.5rem;
  padding-left: 1rem;
  text-align: center;
  transform: skew(30deg);
  color: #61331e;
}
.FlagFile .li_box.selected .li {
  font-size: 18px;
  font-weight: bold;
  color: #fd5512;
}
.FlagFile .content_container {
  background: linear-gradient(340deg, #c0910f, #ffd35b 30%);
  width: 100%;
  box-shadow: 0 -5px 10px -5px rgba(0, 0, 0, 0.4);
  position: relative;
  border-radius: 0 0 5px 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.FlagFile .content {
  padding: 10px;
}
.FlagFile .content_title {
  padding-top: 1rem;
  color: #61331e;
}
