.Menu {
  position: absolute;
  width: 100%;
  z-index: 10;
}
.Menu ul {
  position: absolute;
  display: flex;
  width: 100%; /* ul 요소가 부모 요소의 전체 너비를 차지하도록 설정 */
  margin: 0;
  padding: 0;
  height: 6rem;
}
.Menu ul li {
  flex: 1; /* 각 li 요소가 균등한 너비를 가지도록 설정 */
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Menu ul li button {
  color: rgb(134, 134, 134);
  padding: 0 3px;
  font-size: 1.3rem;
  background: none;
  border: none;
  cursor: pointer;
  position: relative; /* ::after 요소를 상대적으로 위치시키기 위해 필요 */
}

.Menu ul li button:hover {
  font-size: 1.6rem;
  transition: font-size 0.5s;
  color: rgb(170, 170, 170);
}
