.Menu {
  position: absolute;
  width: 100%;
}
.Menu ul {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Menu ul li {
  list-style-type: none;
  margin: 20px;
}
.Menu ul li button {
  background: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.Menu ul li button:hover {
  font-size: 1.6rem;
  transition: font-size 0.5s;
}
