.Menu {
  position: absolute;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
}
.home {
  margin: 0 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: end;
  cursor: none;
}
.home_icon {
  color: #363f0e;
}
.home .h2 {
  color: #9bad4b;
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
}
.home .p {
  color: #737c3c;
  font-size: 0.65rem;
  font-weight: bold;
}
.mouse_key {
  position: absolute;
  pointer-events: none;
  z-index: 10;
}
.key_icon {
  display: inline-block; /* transform이 적용되려면 inline-block 또는 block이어야 함 */
  transform: rotate(90deg);
}
.menu {
}
.menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}
.menu ul li {
  flex: 1;
  /* 각 li 요소가 균등한 너비를 가지도록 설정 */
  list-style-type: none;
  margin: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul li .btn {
  color: #a0a0a0;
  padding: 0 0.25rem;
  font-size: 1.2rem;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  transition: font-size 0.5s, color 0.5s;
}

.menu ul li .btn:hover {
  font-size: 1.6rem;
  color: #b66565;
}
.menu ul li .btn.active {
  color: #b66565;
}

@media (max-width: 768px) {
  .Menu {
    margin-top: 1rem;
    align-items: start;
  }
  .menu ul {
    display: inline;
    justify-content: start;
    align-items: start;
  }
  .menu ul li {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
