.Menu {
  position: absolute;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
}
.home {
  margin: 0 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: end;
  cursor: none;
}
.home_icon {
  color: #868686;
}
.home .h2 {
  color: #7772ad;
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
}
.home .p {
  color: #9b98bb;
  font-size: 0.65rem;
  font-weight: bold;
}
.mouse_key {
  position: absolute;
  pointer-events: none;
  z-index: 10;
  color: #cfcfcf;
}
.key_icon {
  display: inline-block; /* transform이 적용되려면 inline-block 또는 block이어야 함 */
  transform: rotate(90deg);
}

.menu {
}
.menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%;  */
  /* ul 요소가 부모 요소의 전체 너비를 차지하도록 설정 */
  margin: 0;
  padding: 0;
  width: 100%;
}
.menu ul li {
  flex: 1;
  /* 각 li 요소가 균등한 너비를 가지도록 설정 */
  list-style-type: none;
  margin: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul li .btn {
  color: #868686;
  padding: 0 0.25rem;
  font-size: 1.2rem;
  background: none;
  border: none;
  cursor: pointer;
  position: relative; /* ::after 요소를 상대적으로 위치시키기 위해 필요 */
  transition: font-size 0.5s, color 0.5s;
}

.menu ul li .btn:hover {
  font-size: 1.6rem;
  color: #cfcfcf;
}
.menu ul li .btn.active {
  color: #cfcfcf;
}

@media (max-width: 768px) {
  .Menu {
    margin-top: 1rem;
    align-items: start;
  }
  .menu ul {
    display: inline;
    justify-content: start;
    align-items: start;
  }
  .menu ul li {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
