.ProjectImage h3 {
  margin: 2rem;
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: lighter;
  font-size: 50px;
  text-shadow: 0px 1px rgb(83, 83, 83), 3px 1px rgb(83, 83, 83);
}
.shop_img_container {
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  justify-items: center;
}
.shop_img_wrapper {
  text-align: center;
  position: relative;
}
.shop_img_wrapper:hover .shop_img {
  z-index: 100;
  transform: scale(2.2);
  transition: transform 0.5s ease-in-out;
  z-index: 10; /* 이 속성을 추가하여 이미지가 다른 이미지들 위로 오게 합니다 */
  position: relative;
}
.shop_img {
  width: 100%;
  padding: 0.5rem;
}
.page_title {
  font-weight: bold;
  color: #696969;
  margin-bottom: 1rem;
}
.magnifier {
  position: absolute;
  width: 1rem;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: 200%;
  z-index: 10;
}
.magnifier img {
  width: 5rem;
}
