.ProjectImage .shop_img_container {
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  justify-items: center;
}
.ProjectImage .shop_img_wrapper {
  text-align: center;
  position: relative;
}
.ProjectImage .shop_img_wrapper:hover .shop_img {
  z-index: 100;
  transform: scale(2.2);
  transition: transform 0.5s ease-in-out;
  z-index: 10; /* 이 속성을 추가하여 이미지가 다른 이미지들 위로 오게 합니다 */
  position: relative;
}
.ProjectImage .shop_img {
  width: 100%;
  padding: 0.5rem;
}
.ProjectImage .page_title {
  font-weight: bold;
  color: #757575;
  margin-bottom: 1rem;
}
.ProjectImage .magnifier {
  position: absolute;
  width: 1rem;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: 200%;
  z-index: 10;
}
.ProjectImage .magnifier img {
  width: 5rem;
}
