.PrivateRoute {
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 4rem;
  text-align: center;
  height: 100vh;
  background-color: #f0ebeb;
}
.error {
  color: #db3939;
  margin: 1rem;
  font-size: 3rem;
  font-weight: lighter;
}
.p {
  color: #181818;
  margin: 0.3rem;
  font-size: 1.05rem;
}
.span {
  font-weight: bold;
  color: #d46868;
}
.box {
  background-color: #ada9a9;
  padding: 2.5rem 4rem 1.5rem 4rem;
  margin: 3rem 1rem 1rem 1rem;
  border-radius: 1rem;
}
.link {
  color: #ddd;
  text-decoration: none;
  font-size: 1rem;

  background-color: #4e4a4a;
  width: 12rem;
  height: 3rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  cursor: pointer;
}
.link:hover {
  background-color: #8b4545;
}
