.Intro {
}
.Intro .about_me {
  display: flex;
  justify-content: center;
  align-items: end;
}
.Intro .about_me .my_img {
  width: 35%;
  padding: 0 1rem;
}
.Intro .about_me .my_img img {
  max-width: 100%;
}
.Intro .about_me .content {
  width: 65%;
  padding: 0 1rem;
}
.Intro .about_me h2 {
  font-size: 3rem;
}
.Intro .about_me p {
  font-size: 1.1rem;
}
