.main {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #f0ebeb;
}

.title_container.hidden {
  display: none;
}

.title_h2 {
  margin: 0;
  padding: 0;
  position: absolute;
  font-size: 2rem;
}

.total_container {
  margin: auto;
  padding: 1rem;
  max-width: 1200px;
  min-height: 100vh; /* 화면을 꽉 채운 높이 설정 */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* input 스타일 */
.input_container {
  margin: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 35rem;
  border: 1px solid #ddd;
  border-radius: 5rem;
  box-shadow: 0 0 5px #ddd;
  background-color: rgb(255, 255, 255);
}

@keyframes vibration {
  0% {
    transform: translateX(0rem);
  }
  12.5% {
    transform: translateX(-0.3rem);
  }
  25% {
    transform: translateX(0.3rem);
  }
  37.5% {
    transform: translateX(-0.25rem);
  }
  50% {
    transform: translateX(0.25rem);
  }
  62.5% {
    transform: translateX(-0.2rem);
  }
  75% {
    transform: translateX(0.2rem);
  }
  87.5% {
    transform: translateX(-0.15rem);
  }
  100% {
    transform: translateX(0.15rem);
  }
}

.input_container.error {
  box-shadow: 0 0 5px #ff7979;
  animation: vibration 0.5s infinite;
}

.search_icon {
  padding: 1rem 1.5rem;
}

.input {
  padding: 0.5rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.input.large {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: -3rem;
  left: 0;
  font-size: 9rem;
  color: #00000000;
  transition: font-size 2s ease, color 4s ease;
}

/* 키보드 스타일 */
.keyboard {
  margin: 2rem auto;
  padding-top: 0.45rem;
  height: 16.5rem;
  width: 43rem;
  border: 1rem solid rgb(200, 185, 206);
  border-radius: 0.2rem;
  background-color: rgb(230, 217, 236);
  box-shadow: 10px 5px 5px #00000020;
  text-align: center;
}

@media (max-width: 570px) {
  .keyboard {
    width: 37rem;
  }
}
.key {
  width: 2.1rem;
  height: 2.3rem;
  margin: 0.2rem;
  border: none;
  border-radius: 0.4rem;
  box-shadow: 0 0 3px #555555;
  background-color: white;
  outline: none;
  font-size: 0.9rem;
  cursor: pointer;
}

.key:active {
  box-shadow: none;
}

.key.backspace {
  width: 7rem;
}

.key.enter {
  width: 6.6rem;
}

.key.small {
  width: 2.1rem;
  color: #ccc;
}

.key.mid {
  width: 4.6rem;
  color: #ccc;
}

.key.lar {
  width: 5.1rem;
  color: #ccc;
}

.key.lar_shift {
  width: 6rem;
  color: #ccc;
}

.key.spacebar {
  width: 15rem;
  color: #fff;
}
@media (max-width: 570px) {
  .key,
  .key.small {
    width: 1.6rem;
  }
  .key.enter {
    width: 6.2rem;
  }

  .key.lar_shift {
    width: 5rem;
  }
}
.pressed {
  background-color: #8e7f97;
  color: white;
  transition: background-color 0.2s ease, color 0.2s ease;
}
