.main {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #303030;
}

.title_container.hidden {
  display: none;
}

.title_h2 {
  margin: 0;
  padding: 0;
  position: absolute;
  font-size: 2rem;
  color: #b9679e;
}

.total_container {
  margin: auto;
  padding: 1.3rem;
  max-width: 45rem;
  min-height: 100vh; /* 화면을 꽉 채운 높이 설정 */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input_container {
  margin: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 90%;
  border: 1px solid #141414;
  border-radius: 5rem;
  box-shadow: 0 0 10px #0000008c;
  background-color: #141414;
  color: #838383;
}

@keyframes vibration {
  0% {
    transform: translateX(0rem);
  }
  12.5% {
    transform: translateX(-0.3rem);
  }
  25% {
    transform: translateX(0.3rem);
  }
  37.5% {
    transform: translateX(-0.25rem);
  }
  50% {
    transform: translateX(0.25rem);
  }
  62.5% {
    transform: translateX(-0.2rem);
  }
  75% {
    transform: translateX(0.2rem);
  }
  87.5% {
    transform: translateX(-0.15rem);
  }
  100% {
    transform: translateX(0.15rem);
  }
}

.input_container.error {
  box-shadow: 0 0 10px #af1616;
  animation: vibration 0.5s infinite;
}

.search_icon {
  padding: 1rem 1.5rem;
}

.input {
  padding: 0.5rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #ebebeb;
}

.input.large {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: -3rem;
  left: 0;
  font-size: 9rem;
  color: #00000000;
  transition: font-size 2s ease, color 4s ease;
}

.keyboard {
  margin: 2rem auto;
  padding: 0.45rem;
  width: 100%;
  border: 1rem solid rgb(29, 28, 29);
  border-radius: 0.2rem;
  background-color: rgb(48, 41, 51);
  box-shadow: 10px 5px 5px #00000020;
}
.key {
  width: 5.05%;
  height: 2.1rem;
  margin: 0.69%;
  border: none;
  border-radius: 0.4rem;
  box-shadow: 0 0 3px #555555;
  background-color: #8a7f8b;
  outline: none;
  font-size: 0.9rem;
  cursor: pointer;
}

.key:active {
  box-shadow: none;
}

.key.backspace {
  width: 15%;
}

.key.enter {
  width: 15%;
}

.key.small {
  width: 5.05%;
  color: #505050;
}

.key.mid {
  width: 10%;
  color: #505050;
}

.key.lar {
  width: 11.5%;
  color: #505050;
}

.key.lar_shift {
  width: 15%;
  color: #505050;
}

.key.spacebar {
  width: 45%;
  color: #8a7f8b;
}
.pressed {
  background-color: #524658;
  color: white;
  transition: background-color 0.2s ease, color 0.2s ease;
}
@media (max-width: 768px) {
  .key {
    font-size: 0.7rem;
  }
}
