.ProjectLink .content_container {
  letter-spacing: 0;
}
.ProjectLink .content_container .table {
  width: 100%;
}
.ProjectLink .content_container .table td {
  text-align: center;
}
.ProjectLink .content_container .table td.link_td {
  text-align: start;
}
.ProjectLink .content_container .image {
  min-width: 6rem;
  padding: 0.3rem;
  width: 100%;
  max-width: 10rem;
}
@media (max-width: 768px) {
  .ProjectLink .content_container .image,
  .ProjectLink .content_container .icon {
    display: none;
  }
  .logo_td {
    display: none;
  }
}
.ProjectLink .content_container td.link_td a {
  color: #a8a8a8;
}
.ProjectLink .content_container td.link_td a:hover {
  color: #f1f1f1;
}
.ProjectLink .content_container td.link_td .link_warpper {
  background-color: #242424;
  padding: 1rem;
  border-radius: 0.8rem;
  margin: 1rem 0;
}
