.box {
  letter-spacing: 0;
  display: flex;
  justify-content: start;
  align-items: center;
}
.logo {
  width: 25%;
  text-align: center;
}

.image {
  min-width: 6rem;
  padding: 0.3rem;
  width: 9rem;
  max-width: 10rem;
}
.link {
  width: 75%;
  margin-right: 1rem;
}
.link a {
  color: #a8a8a8;
}
.link a:hover {
  color: #f1f1f1;
}
.link_warpper {
  background-color: #242424;
  padding: 1rem;
  border-radius: 0.8rem;
  margin: 1rem 0;
}

@media (max-width: 768px) {
  .box {
    display: block;
    justify-content: center;
    align-items: center;
  }
  .logo,
  .image {
    width: 100%;
    margin-top: 1rem;
  }
  .link {
    width: 100%;
  }
  .link a {
    font-size: 0.78rem;
  }
  .link_warpper {
    margin: 0.5rem 0;
  }
}
