.Skill {
  color: #bbb;
}
.title_h3 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  color: #c240b7;
}
.name_h3 {
  color: #7c8ba8;
  font-weight: lighter;
  font-size: 1.3rem;
  padding: 0.8rem;
  border-bottom: 2px solid #494949;
}
.Skill .p {
  padding: 0.5rem 1rem;
}
