.ProjectDetails {
  letter-spacing: 0.03rem;
}
.container {
  /* margin: 3rem 0; */
}
.ProjectDetails .content_container {
  margin: 1.5rem 0;
}
.ProjectDetails .img_box {
  width: 100%;
  text-align: center;
}
.ProjectDetails h3.title {
  font-size: 1.3rem;
  font-weight: lighter;
  margin: 1rem 0;
  color: #e4854e;
}
.ProjectDetails .detail {
  margin: 1rem 0;
}
.ProjectDetails .detail p {
  margin: 0.3rem 0;
}
.ProjectDetails img.screen {
  width: 100%;
  max-width: 500px;
}
.ProjectDetails .h4 {
  padding-bottom: 1rem;
  font-size: 1.1rem;
  padding-top: 1rem;
  text-align: center;
  color: #c03b1d;
  border-bottom: 3px solid rgb(218, 178, 134);
}
.table {
  width: 100%;
}
.table td {
  padding: 0.3rem;
  border-bottom: 1px solid rgb(207, 182, 162);
}
.title {
  margin: 0.5rem;
  font-weight: bold;
  text-align: center;
}
.content {
  padding: 0.3rem;
}
.tech_container {
  margin: 1rem 0;
}
.tech_table {
  width: 100%;
  border-collapse: collapse;
}
.tech_table thead tr {
  border-bottom: 1px solid #cfb6a2;
}
.tech_table tbody tr {
  border-bottom: 1px solid #cfb6a2;
}
.tech_table tbody tr td {
  text-align: center;
  padding: 0.5rem;
}
.tech_table thead tr th {
  text-align: center;
  padding: 1rem 0.5rem;
}
.tech_img_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tech_img_box {
  width: 100%;
  padding: 0 0.5rem;
}
.tech_img {
  max-width: 3rem;
  min-width: 1rem;
  width: 100%;
}
.tech_name {
  color: #252525;
}
.tech_container_min {
  display: none;
}
.tech_min {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #cfb6a2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tech_min p {
  text-align: end;
  margin-left: 1rem;
}
@media (max-width: 768px) {
  .tech_container {
    display: none;
  }
  .tech_container_min {
    display: inline;
  }
}
