.ProjectDetails {
  letter-spacing: 0.03rem;
}
.ProjectDetails .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ProjectDetails .content_container {
  margin: 1rem;
}
.ProjectDetails .img_box {
  width: 100%;
  text-align: center;
}
.ProjectDetails h3.title {
  font-size: 20px;
  font-weight: lighter;
  color: rgb(219, 219, 219);
  margin: 1rem 0;
}
.ProjectDetails .detail {
  color: rgb(155, 155, 155);
  margin: 1rem 0;
}
.ProjectDetails .detail p {
  margin: 0.3rem 0;
}
.ProjectDetails img.screen {
  width: 100%;
  max-width: 500px;
}
.ProjectDetails .h4 {
  padding-bottom: 1rem;
  padding-top: 2rem;
  color: rgb(202, 167, 167);
  text-align: center;
  border-bottom: 4px solid rgb(39, 39, 39);
}
.table {
  width: 100%;
  margin-bottom: 1rem;
}
.table td {
  padding: 0.3rem;
  border-bottom: 1px solid rgb(53, 53, 53);
}
.title {
  margin: 0.5rem;
  color: rgb(24, 24, 24);
  font-weight: bold;
  text-align: center;
}
.content {
  color: rgb(155, 155, 155);
  padding: 0.3rem;
  font-size: 0.9rem;
}
.tech_container {
  margin: 1rem 0;
}
@media (max-width: 40rem) {
  .tech_container {
    display: none;
  }
}
.tech_table {
  width: 100%;
  border-collapse: collapse;
}
.tech_table thead tr {
  /* border-bottom: 1px solid black; */
  border-bottom: 1px solid rgb(56, 56, 56);
}
.tech_table tbody tr {
  border-bottom: 1px solid rgb(56, 56, 56);
}
.tech_table tbody tr td {
  text-align: center;
  padding: 0.5rem;
}
.tech_table thead tr th {
  text-align: center;
  padding: 1rem 0.5rem;
  font-size: 0.9rem;
}
.tech_img_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tech_img_box {
  width: 100%;
  padding: 0 0.5rem;
}
.tech_img {
  max-width: 3rem;
  min-width: 1rem;
  width: 100%;
}
.tech_name {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: rgb(155, 155, 155);
}
.tech_container_min {
  display: none;
}
.tech_min {
  display: flex;
}
.tech_min p {
  margin-left: 1rem;
}

@media (max-width: 40rem) {
  .tech_container_min {
    display: inline;
  }
}
