.ProjectDetails {
  margin: 1rem 2rem 2rem 2rem;
  letter-spacing: 0.03rem;
}
.container {
  /* margin-bottom: 3rem; */
}
.ProjectDetails .content_container {
  margin: 1.5rem 0;
}
.ProjectDetails .img_box {
  text-align: center;
}
.ProjectDetails h3.title {
  font-size: 1.3rem;
  font-weight: lighter;
  margin: 1rem 0;
  color: #b1b1b1;
}
.ProjectDetails .detail {
  border-radius: 1rem;
  background-color: #242424;
  margin: 1rem 1rem 3rem 1rem;
  padding: 1rem;
}
.ProjectDetails img.screen {
  padding: 0 3rem;
  max-width: 100%;
  max-height: 50rem;
}
.ProjectDetails .h4 {
  color: #b1a175;
  font-size: 1.1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: center;
  border-bottom: 4px solid #33302a;
}
.detail_context {
  margin: 0.7rem 0;
  display: flex;
  justify-content: start;
  align-items: start;
  color: #a8a8a8;
}
.detail_context > div {
  padding: 0 0.5rem;
}
.table {
  width: 100%;
  color: #a8a8a8;
}
.table td {
  padding: 0.3rem;
  border-bottom: 1px solid #413c34;
}
.title {
  margin: 0.5rem;
  font-weight: bold;
  text-align: center;
  color: #181818;
}
.content {
  padding: 0.3rem;
  font-size: 0.9rem;
}
.tech_container {
  margin: 1rem 0;
}

.tech_table {
  width: 100%;
  border-collapse: collapse;
}
.tech_table thead tr {
  /* border-bottom: 1px solid black; */
  border-bottom: 1px solid #413c34;
}
.tech_table tbody tr {
  border-bottom: 1px solid #413c34;
}
.tech_table tbody tr td {
  text-align: center;
  padding: 0.5rem;
}
.tech_table thead tr th {
  text-align: center;
  padding: 1rem 0.5rem;
  font-size: 0.9rem;
}
.tech_img_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tech_img_box {
  width: 100%;
  padding: 0 0.5rem;
}
.tech_img {
  max-width: 3rem;
  min-width: 1rem;
  width: 100%;
}
.tech_name {
  color: #a8a8a8;
}
.tech_container_min {
  display: none;
}
.tech_min {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #383838;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tech_min p {
  text-align: end;
  margin-left: 1rem;
}
@media (max-width: 768px) {
  .tech_container {
    display: none;
  }
  .tech_container_min {
    display: inline;
  }
}
