@import url("https://fonts.googleapis.com/css2?family=Orbit&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  color: #181818;
  height: 100%;
  font-family: "Orbit", sans-serif;
}
body {
  background-color: var(--bg);
  /* &.light {
    --bg: #ffffff;
    --textTitle: #444;
    --textNormal: #555;
    --textDesc: #999;
  }
  &.dark {
    --bg: #282c35;
    --textTitle: #eee;
    --textNormal: #ddd;
    --textDesc: #888;
  } */
}
button {
  font-family: "Orbit", sans-serif;
}
input {
  font-family: "Orbit", sans-serif;
}
textarea {
  font-family: "Orbit", sans-serif;
}
.App {
  color: #1f1f1f;
  font-size: 1rem;
}
section {
  padding: 5rem 2rem;
  height: 100%;
}
section:nth-child(2n) {
  background-color: #24272b;
  /* background-color: rgb(214, 214, 214); */
}
section:nth-child(2n + 1) {
  background-color: #34343a;
  /* background-color: rgb(221, 229, 235); */
}
li {
  list-style: none;
}

@media (max-width: 48rem) {
  /* 768px 이하 */
  html {
    font-size: 0.9rem; /* 기본 폰트 크기를 14px로 줄임 */
  }
  button {
    font-size: 0.9rem; /* 기본 폰트 크기를 14px로 줄임 */
  }
}
@media (max-width: 40rem) {
  /* 768px 이하 */
  html {
    font-size: 0.8rem; /* 기본 폰트 크기를 14px로 줄임 */
  }
  button {
    font-size: 0.8rem; /* 기본 폰트 크기를 14px로 줄임 */
  }
}
/* 큰 화면에서는 기본 폰트 크기를 늘림 */
@media (min-width: 90rem) {
  /* 1440px 이상 */
  .container {
    max-width: 80rem; /* 최대 너비를 1280px로 줄임 */
  }
}
